.image1 {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position: relative;
    top: 50px;
}

.Jname {
    position: relative;
    top: -500px;
    left: 800px;
    font-size: 100px;

    border-bottom: 5px solid orange;

}

.Ename {
    position: relative;
    top: -500px;
    left: 800px;
    font-size: 50px;
}

li {
    position: relative;
    top: -500px;
    left: 800px;

}

.img2 {

    float: left;

    width: 30px;
    height: 30px;

}

.img3 {
    width: 30px;
    height: 30px;
}

.link1 {
    font-size: 28px;
}

.link2 {
    font-size: 28px;

}

p {
    margin-bottom: 50px;
}

.textbox1 {
    border: 1px solid black;
    position: relative;
    left: 30px;
    top: 0px;
}

.submitbutton1 {
    border: 1px solid black;
    position: relative;
    left: -100px;
    margin-bottom: 20px;
    top: 50px;
}

.answerbutton1 {
    border: 1px solid red;
    color: red;
    position: relative;
    left: 40px;
    top: -200px;

}

.img4 {
    width: 300px;
    height: 300px;
}

.textbox2 {
    border: 1px solid black;
    position: relative;
    left: 545px;
    top: -350px;
}

.submitbutton2 {
    border: 1px solid black;
    position: relative;
    left: 410px;
    top: -305px;
    margin-bottom: 20px;
}

.answerbutton2 {
    border: 1px solid red;
    color: red;
    position: relative;
    left: 555px;
    top: -552px;

}

.img5 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 300px;
    top: -354px;
}

.textbox3 {
    border: 1px solid black;
    position: relative;
    left: 1050px;
    top: -700px;
}

.submitbutton3 {
    border: 1px solid black;
    position: relative;
    left: 925px;
    top: -660px;
    margin-bottom: 20px;
}

.answerbutton3 {
    border: 1px solid red;
    color: red;
    position: relative;
    left: 1070px;
    top: -625px;


}

.img6 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 800px;
    top: -710px;
}